.container-fluid {
  background-image: url("https://res.cloudinary.com/djfbwkdh3/image/upload/v1718437686/pexels-eberhardgross-1292115_dd3zyw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
}

.a > div {
  margin-bottom: 30px;
}

#inputvalue {
  width: 70%;
}

#search {
  width: 70%;
  border-radius: 12px;
  background-color: aqua;
}

#location {
  width: 70%;
  border-radius: 12px;
  background-color: green;
}

.b {
  border-radius: 12px;
}

#forecast > div {
  border-radius: 13px;
}

#separate {
  height: 1px;
  width: 70%;
  background-color: rgb(169, 150, 150);
  text-align: center;
  justify-content: center;
  margin: 25px 0px;
  align-items: center;
  display: flex;
}

#separate::before {
  content: "or";
  background-color: aliceblue;
  padding: 0px 15px;
  margin-top: -4px;
}

.elements-input {
  width: 350px !important;
  margin-bottom: 20px;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
}
#first {
  width: 500px;
  border-width: 2px;
  border-style: solid;
  border-color: bisque;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 20px;
}

.weather-content {
  border-width: 2px;
  border-style: dotted;
  border-color: azure;
  color: black;
  background-color: rgb(245, 245, 220);
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.5);

  margin: 25px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  list-style: none;
}
